<%= form_with(model: dashmebutton, local: true) do |form| %>
  <% if dashmebutton.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dashmebutton.errors.count, "error") %> prohibited this dashmebutton from being saved:</h2>

      <ul>
      <% dashmebutton.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :shop %>
    <%= form.text_field :shop %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
